body {
    background: #8F00FF;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

#alice-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    height: 70vh; 
}

#alice1, #alice2, #alice3 {
  
}
